.page-footer{
/*   
    background:  url("../img/footer_logo.png") 8px top no-repeat,
    			 url("../img/header_right_bg.png") right top no-repeat;
    background-size: auto 100%;
   	background-color: #00902c;
    height: 34px;*/

}
.page-footer{
    position: fixed;
    left:0;
    bottom: 0;
    height: 50px;
    width:100%;
}
.home-start{
    margin:0 auto;
    width:100px;
    display: block;
    height: 38px;
    line-height: 38px;
    width:130px;
    text-decoration: none;
    text-align: center;
    color:#585858;
    background-color: #363034;
}
.home-start.able{
    color:#fff;
    border:1px solid #88acbf;
    background-color: #2697d4;
}